backend-data/n8n.txt
{
  "nodes": [
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -2100,
        3060
      ],
      "id": "15ec6fe7-c57d-453d-bb1a-3523a5b1886c",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "WzmYZEmXBmXdkPAu",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "question",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1640,
        1660
      ],
      "id": "ad0d4fe9-ddba-445b-8977-14bf06f11d0a",
      "name": "Add Question",
      "webhookId": "6e3a278c-14cf-4d18-a42f-494b83b69faa"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.16.15.163:8090/api/collections/questions/records",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "question",
              "value": "={{ $json.body.question }}"
            },
            {
              "name": "category",
              "value": "={{ $json.body.category }}"
            },
            {
              "name": "answers",
              "value": "={{ $json.body.answers }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1420,
        1660
      ],
      "id": "49ba320c-f468-4f60-a981-ada103a7ed09",
      "name": "Add question to DB"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=http://172.16.15.163:8090/api/collections/sessions/records/{{ $json.body.id }}",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "score",
              "value": "={{ $json.body.score }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1460,
        2340
      ],
      "id": "6cf3ddba-6e36-4e44-a763-6968f5806d79",
      "name": "create session in db"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sessionCreate",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1640,
        1460
      ],
      "id": "a9acaf2d-0a3b-45d1-8866-f739ac0d268b",
      "name": "create session",
      "webhookId": "6e3a278c-14cf-4d18-a42f-494b83b69faa"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.16.15.163:8090/api/collections/sessions/records",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "user",
              "value": "={{ $json.body.user }}"
            },
            {
              "name": "category",
              "value": "={{ $json.body.category }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1420,
        1460
      ],
      "id": "c201b4bd-89d8-4cb6-93bf-79a7c47e47ba",
      "name": "create session webhook"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sessionUpdate",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1680,
        2340
      ],
      "id": "d8e80fc7-48c5-4b6a-9779-59807a5fcc74",
      "name": "session update",
      "webhookId": "6e3a278c-14cf-4d18-a42f-494b83b69faa"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.16.15.163:8090/api/collections/answers/records",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "user",
              "value": "={{ $json.body.user }}"
            },
            {
              "name": "session",
              "value": "={{ $json.body.session }}"
            },
            {
              "name": "question",
              "value": "={{ $json.body.question }}"
            },
            {
              "name": "selectedAnswer",
              "value": "={{ $json.body.selectedAnswer }}"
            },
            {
              "name": "isTrueAnswer",
              "value": "={{ $json.body.isTrueAnswer }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1400,
        1260
      ],
      "id": "ade1c08d-4e21-4d7b-b19d-54a8b2964bc3",
      "name": "create session webhook1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "answerCreate",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1640,
        1260
      ],
      "id": "a8eb2ddd-b491-474c-9e40-d27edb8b1dd9",
      "name": "createAnswer",
      "webhookId": "6e3a278c-14cf-4d18-a42f-494b83b69faa"
    },
    {
      "parameters": {
        "path": "sessionAnswers",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1620,
        1060
      ],
      "id": "2d9e406d-09a6-4fc7-9038-6dced31771d7",
      "name": "getSessionAnswers",
      "webhookId": "6e3a278c-14cf-4d18-a42f-494b83b69faa"
    },
    {
      "parameters": {
        "url": "http://172.16.15.163:8090/api/collections/answers/records",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "filter",
              "value": "=session=\"{{ $json[\"query\"][\"filter\"] }}\""
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1380,
        1060
      ],
      "id": "af927b38-bf30-48c7-a48f-faf7c3d504b3",
      "name": "get specific session answers"
    },
    {
      "parameters": {
        "path": "getNotionTopics",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2660,
        1840
      ],
      "id": "89018ff1-5cd0-4ca0-b21c-28be3b25de8a",
      "name": "notionTopics",
      "webhookId": "6e3a278c-14cf-4d18-a42f-494b83b69faa"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "1eadbd6f-2f2c-80cc-84a4-f47462cfc028",
          "mode": "list",
          "cachedResultName": "quiz topics test",
          "cachedResultUrl": "https://www.notion.so/1eadbd6f2f2c80cc84a4f47462cfc028"
        },
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -2440,
        1820
      ],
      "id": "6181d89a-d090-48fe-a1c5-9509b63c9165",
      "name": "Notion1",
      "credentials": {
        "notionApi": {
          "id": "KilFieVCS5ApZ9jr",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "path": "allSessionsUser",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1620,
        880
      ],
      "id": "593089e6-3632-48be-93aa-48fed353b636",
      "name": "getAllUserSessions",
      "webhookId": "6e3a278c-14cf-4d18-a42f-494b83b69faa"
    },
    {
      "parameters": {
        "url": "http://172.16.15.163:8090/api/collections/sessions/records",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "filter",
              "value": "=user=\"{{ $json[\"query\"][\"filter\"] }}\""
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1420,
        880
      ],
      "id": "17063117-f2e5-4a3f-b674-aa8b7a754e9c",
      "name": "get all sessions from user"
    },
    {
      "parameters": {
        "path": "sessionQuestion",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1580,
        680
      ],
      "id": "86227d2f-90d5-478e-9967-bcb23d911e83",
      "name": "getSessionAnswers1",
      "webhookId": "6e3a278c-14cf-4d18-a42f-494b83b69faa"
    },
    {
      "parameters": {
        "url": "http://172.16.15.163:8090/api/collections/questions/records",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "filter",
              "value": "=id=\"{{ $json[\"query\"][\"filter\"] }}\""
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1380,
        680
      ],
      "id": "7fe8c580-8c68-4cf0-8a82-5201bda94e1b",
      "name": "get specific session answers1"
    },
    {
      "parameters": {
        "path": "allAnswers",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1600,
        480
      ],
      "id": "892c34af-f75c-4bc3-87d5-c01aeb692b81",
      "name": "getAllUserSessions1",
      "webhookId": "6e3a278c-14cf-4d18-a42f-494b83b69faa"
    },
    {
      "parameters": {
        "url": "http://172.16.15.163:8090/api/collections/answers/records",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "filter",
              "value": "=user=\"{{ $json[\"query\"][\"filter\"] }}\""
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1400,
        480
      ],
      "id": "1060d723-63f2-4d3c-b342-1a241715cb3d",
      "name": "get all sessions from user1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "register",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1660,
        1840
      ],
      "id": "662f661d-f296-4fd9-9982-fac84bda9dae",
      "name": "Register User2",
      "webhookId": "6e3a278c-14cf-4d18-a42f-494b83b69faa"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.16.15.163:8090/api/collections/testDB/records",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "test4"
            },
            {
              "name": "number",
              "value": "4"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1480,
        2180
      ],
      "id": "53c91147-c637-48c6-891b-c32ef8addf45",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "path": "add",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1680,
        2180
      ],
      "id": "696b5421-127e-45c1-b948-16705fad1483",
      "name": "ADD DATA TO DB2",
      "webhookId": "6e3a278c-14cf-4d18-a42f-494b83b69faa"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.16.15.163:8090/api/collections/users/records",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ $json.body.email }}"
            },
            {
              "name": "name",
              "value": "={{ $json.body.username }}"
            },
            {
              "name": "password",
              "value": "={{ $json.body.password }}"
            },
            {
              "name": "passwordConfirm",
              "value": "={{ $json.body.password }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1460,
        1840
      ],
      "id": "5d966cb0-ec0a-4822-82df-14b78d196c5b",
      "name": "Register Request to PocketBase2"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "login",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1700,
        2020
      ],
      "id": "ab3e7a59-bdd6-430a-ac41-cc449281f2c1",
      "name": "Login User2",
      "webhookId": "6e3a278c-14cf-4d18-a42f-494b83b69faa"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.16.15.163:8090/api/collections/users/auth-with-password",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "identity",
              "value": "={{ $json.body.email }}"
            },
            {
              "name": "password",
              "value": "={{ $json.body.password }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1500,
        2020
      ],
      "id": "13ecd9a1-73f2-4452-b508-3c1a4fa0a3c0",
      "name": "Login Request to PocketBase2"
    },
    {
      "parameters": {
        "path": "=ai",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2320,
        2700
      ],
      "id": "25fc80c0-7ce0-4c7d-8294-c07606cedecb",
      "name": "Webhook3",
      "webhookId": "364de7f6-d21a-4335-ac7c-7646fa64934b"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a creative quiz generator. Your task is to generate a fresh and unique quiz every time. Avoid repeating questions or answers across different calls.\n\nCreate a quiz in JSON format with 10 varied multiple-choice questions based on the topic below.\n\nEach question must include:\n- \"question\": the question as a string.\n- \"correctAnswer\": the correct answer as a string.\n- \"answers\": an array of 4 objects.\n- Each answer object must have:\n  - \"text\": the answer text.\n  - \"correct\": a boolean (true for the correct one, false for the others).\n- Only one answer should have \"correct\": true.\n\nThe topic is: {{ $json.query.topic }}\n\nRules:\n- Never leave the quiz empty — always return a full quiz.\n- The output MUST be valid JSON with no extra text.\n- the answers to a question must be short\n\nReturn ONLY the quiz in valid JSON format.\n",
        "hasOutputParser": true
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        -2100,
        2700
      ],
      "id": "17abb692-b6d4-4b52-993b-6ee0df4911b8",
      "name": "Basic LLM Chain3",
      "retryOnFail": true,
      "maxTries": 2,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n    \"question\": \"\",\n    \"correctAnswer\":\"\",\n    \"answers\": [\n      { \"text\": \"\", \"correct\": true },\n      { \"text\": \"\", \"correct\": false },\n      { \"text\": \"\", \"correct\": false },\n      { \"text\": \"\", \"correct\": false }\n    ]\n  }\n "
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        -1940,
        2940
      ],
      "id": "2480ca54-db87-42bb-b15b-e2dba4c2a29a",
      "name": "Structured Output Parser2"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -1280,
        2180
      ],
      "id": "95f5f1e3-6078-4c11-a2f8-a18a58877080",
      "name": "Respond to Webhook17"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -1240,
        2020
      ],
      "id": "ccfecf6a-9bdc-4de5-a81e-89bd27192c36",
      "name": "Respond to Webhook18"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -1580,
        2720
      ],
      "id": "c8518216-0284-4cc3-a3eb-21a62b74fc4e",
      "name": "Respond to Webhook19",
      "retryOnFail": true,
      "maxTries": 2,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -1220,
        1840
      ],
      "id": "5eac2bec-adb7-4f72-8813-0965d71c56ec",
      "name": "Respond to Webhook20"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -1220,
        480
      ],
      "id": "c547ee2b-1253-46a7-99ee-2e0730b84db5",
      "name": "Respond to Webhook8"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -1200,
        680
      ],
      "id": "d55c06e7-9f53-4f62-b6b7-41a82184fbef",
      "name": "Respond to Webhook9"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -1160,
        900
      ],
      "id": "8e98ace3-bc10-4f2a-9695-e2c49fae2018",
      "name": "Respond to Webhook10"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -1140,
        1060
      ],
      "id": "29381dff-dac1-477a-87ac-9a2a41880810",
      "name": "Respond to Webhook11"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -1160,
        1260
      ],
      "id": "ce38afb3-7876-4126-a48f-8dfd958b754c",
      "name": "Respond to Webhook12"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -1160,
        1460
      ],
      "id": "a23b1894-9e82-4ffd-84df-e34a121904d4",
      "name": "Respond to Webhook13"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -1180,
        1660
      ],
      "id": "13dcde61-95a5-4796-b1a5-a2639e4107d6",
      "name": "Respond to Webhook14"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -1220,
        2340
      ],
      "id": "288b3d46-79ca-4756-a559-c04d15bab1ba",
      "name": "Respond to Webhook15"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -2160,
        1840
      ],
      "id": "7223e809-86e1-4be1-aa73-1e4467c10980",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Add Question": {
      "main": [
        [
          {
            "node": "Add question to DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add question to DB": {
      "main": [
        [
          {
            "node": "Respond to Webhook14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create session in db": {
      "main": [
        [
          {
            "node": "Respond to Webhook15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create session": {
      "main": [
        [
          {
            "node": "create session webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create session webhook": {
      "main": [
        [
          {
            "node": "Respond to Webhook13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "session update": {
      "main": [
        [
          {
            "node": "create session in db",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create session webhook1": {
      "main": [
        [
          {
            "node": "Respond to Webhook12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "createAnswer": {
      "main": [
        [
          {
            "node": "create session webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getSessionAnswers": {
      "main": [
        [
          {
            "node": "get specific session answers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get specific session answers": {
      "main": [
        [
          {
            "node": "Respond to Webhook11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "notionTopics": {
      "main": [
        [
          {
            "node": "Notion1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getAllUserSessions": {
      "main": [
        [
          {
            "node": "get all sessions from user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get all sessions from user": {
      "main": [
        [
          {
            "node": "Respond to Webhook10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getSessionAnswers1": {
      "main": [
        [
          {
            "node": "get specific session answers1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get specific session answers1": {
      "main": [
        [
          {
            "node": "Respond to Webhook9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getAllUserSessions1": {
      "main": [
        [
          {
            "node": "get all sessions from user1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get all sessions from user1": {
      "main": [
        [
          {
            "node": "Respond to Webhook8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Register User2": {
      "main": [
        [
          {
            "node": "Register Request to PocketBase2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Respond to Webhook17",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ADD DATA TO DB2": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Register Request to PocketBase2": {
      "main": [
        [
          {
            "node": "Respond to Webhook20",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Login User2": {
      "main": [
        [
          {
            "node": "Login Request to PocketBase2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Login Request to PocketBase2": {
      "main": [
        [
          {
            "node": "Respond to Webhook18",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook3": {
      "main": [
        [
          {
            "node": "Basic LLM Chain3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain3": {
      "main": [
        [
          {
            "node": "Respond to Webhook19",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser2": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain3",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1cf7424ab0262d3c5f6948c9fbf0ce352de17bc3503242d292f935f51e8c3179"
  }
}